<div class="wrapper d-flex jc-around">
    <div class="column">
        <p>Name : <input type="text" ng-model="name"></p>
        <h1>Hello {{name}}</h1>        
        
        
    </div>
    

    <div ng-controller="itmCtrl" class="column">
        <input type="text" ng-model="item"> 
        <button ng-click="addItem(item)">add</button>
        <button ng-click="removeItem(item)">remove</button>
        <p>Lit of items below:</p>
        <ul>
            <li ng-repeat="element in items | orderBy: element">{{element | uppercase}}</li>
        </ul>
    </div>


    

</div>
    
