<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS</title>
    <link rel="stylesheet" href="styles/page.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="lib/angular.js"></script>
</head>
<body>


    <div ng-app="myApp" ng-controller="myCtrl" class="wrapper d-flex jc-around">
        <div class="column">
            <p>Name : <input type="text" ng-model="name"></p>
            <h1>Hello {{name}}</h1>        
            
            
        </div>
        
        
        <div class="column">
            <button ng-click="add(-1)" >-</button>
            <button ng-click="reset()" >reset</button>
            <button ng-click="add(1)" >+</button>
            <p>counter = {{count}}</p>
        </div>
    
        <div class="column">
            <div ng-hide="count%2!==0" ng-click="doSomething()">See only if even</div>
            <div ng-hide="count%2==0" ng-click="doSomething()">See only if odd</div>
        </div>

        <!-- <div ng-controller="itmCtrl" class="column">
            <input type="text" ng-model="item"> 
            <button ng-click="addItem(item)">add</button>
            <button ng-click="removeItem(item)">remove</button>
            <p>Lit of items below:</p>
            <ul>
                <li ng-repeat="element in items | orderBy: element">{{element | uppercase}}</li>
            </ul>
        </div> -->


        

    </div>
    

    


</body>
</html>